{{!-- <div class="container" style="margin-top:10vh;">
    <div class="row">
        <div class="col-12">
            <h4>Carrito</h4>
            <table class="table table-hover table-responsive mt-3 text-center">
                <thead>
                    <tr>
                        <th>Nombre del Producto</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th></th>
                        <th>Precio Final</th>


                    </tr>
                </thead>
                <tbody>
                    {{#each salesitems}}
                    <tr>
                        <td>{{product_name}}</td>
                        <td>{{price}}</td>
                        <td>{{quantity}}</td>
                        <td><a href="/carritoCompras/baja/{{id_salesitems}}"><i class="fas fa-trash text-danger pr-3 pl-3"  style="cursor: pointer;">Eliminar item</i></a>
                        <td><a href="/carritoCompras/baja/cantidad/{{id_salesitems}}"><i>Eliminar Cantidad(1)</i></a></td>
                    </tr>
                    {{!--  XMLHTTPRequest  --}}
                    {{/each}}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>{{carritoFinal}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> --}}
{{!-- <tr >
                <th><img src={{image}} style="width:20%; height:auto;" alt="" >

                </th> --}}